/*------------------- GENERAL-----------------*/ 
*,::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    min-width: 300px;
}

a {
    text-decoration: none;
    color: black;

}

main > section {
    width: 95%;
    margin: auto;
}

h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

h2 {
    font-weight: 600;
}


/*------------------------------------- HEADER ----------------------------------*/ 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    width: 65px;
    height: auto;
    margin: 20px 70px 20px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin-right:60px ;
}

nav ul li {
    width: 100%;
    text-align: center;
}


nav ul li a {
    display: block;
    width: 100%;
    padding: 30px 20px;
    font-weight: 300;
}

nav ul li a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

/*--------------------------------------- MAIN ----------------------------------*/ 

/*------------------------- Search section -------------------------*/ 

#search > p {
    margin-top: 0;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
}

form {
    position: relative;
}

#search-locate {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius:  15px 0px 0px 15px ;
    border: none;
    font-size: 18px;
}

#search input {
    width: 300px;
    height: 50px;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    outline: none;
    padding-left: 70px;
    font-size: 18px;
    font-weight: 600;
}

.search-btn {
    position: relative;
    left: -20px;
    height: 50px;
    padding: 10px 15px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 600;
}

.search-btn-icon {
    display: none;
}


#search-filter-bloc > p {
    padding: 10px 30px 10px 0px;
    font-size: 18px;
    font-weight: 700;
}

#search-filter-bloc {
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    margin-top: 30px;
}

#filter-elements {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 2;      /* ******** here ******** */
}

.filter-element {
    position: relative;
    display: flex;
    height: 50px;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    margin-right: 1.8%;       /* ******** here ******** */
}


.filter-element i {
    position: relative;
    left: -2px;
    width :50px;
    height: 50px;
    line-height: 50px;  /* tips to align 1 only line of text*/
    text-align: center;
    border-radius: 50%;
    color: #0065FC;
    background-color: #deebff;
}

.filter-element p {
    font-size: 18px;
    font-weight: 600;
    padding: 0px 25px 0px 10px; 
}

/* don't know how to have a time for the transition */

.filter-element:hover > i {   /* when the website will be animated with js better to add a class to .filter-element to keep that form even selected */
    order: 2;
    left : 2px;
    background-color: white;
    color: black;
    border: 2px solid #deebff;
}

.filter-element:hover > p {
    order: 1;
    padding: 0px 10px 0px 25px;
    color: #0065FC;
}

.filter-element:hover {
    background-color: #deebff;
    border: 2px solid #deebff;
}

#search-information {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
/* ******** here pb with responsive of i and circle *********/
#search-information i {  /*used another i tag because the i used seems to need pro font awesome*/
    width: 25px;
    height: 25px;
    line-height: 22px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    color: #0065FC;
    margin-right:10px ;
}

#search-information p {
    font-weight: 300;
}


/*------------------------- Accomadation section -------------------------*/ 

#accomodation {
    width: 95%;
    margin: auto;
    display: flex;
}

#accomodation section {
    background-color: #f2f2f2;
    border-radius: 20px;
}

#accomodation-result {
    width : 66%;
    margin-right: 1.8%;
    padding: 40px 16px;
}

#accomodation-result h2 {
    margin: 0px 0px 20px 20px;
}

#accomodation-result a {
    display: inline-block;
    margin: 25px 0px 0px 25px;
    font-size: 16px;
    font-weight: 600;
}


#accomodation-cards {
    /*height: 420px;*/
    display: flex;
    justify-content: space-around;
    /*align-content: space-between;*/
    flex-wrap: wrap;
}

.accomodation-card {
    width : 247px;
    height: auto;
    margin: 15px 5px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #d9d9d9;
}

.accomodation-card img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0;

}

.accomodation-card-text > * {
    margin: 5px 10px;
}

#accomodation h3 {
    font-size: 16px;
    font-weight: 600;
}

/* -----Common for all the card of accomodation ------- */

#accomodation p {
    font-size: 14px;
    font-weight: 300;
}

#accomodation span {
    font-weight: 600;
}

.star {
    font-size: 12px;
}

.star .blue {
    color: #0065FC;
}

.star .grey {
    color: #d9d9d9;
}

/* ------------ */

#accomodation-popular {
    width : 31%;
    min-width: 380px;
    padding: 30px 20px 0px;
}

#accomodation-popular div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#accomodation-popular h2{
    margin: 10px 30px 30px 0px;
}

#accomodation-popular div:first-child i {
    font-size: 22px;
}

#accomodation-popular-cards {
    display: flex;
    flex-direction: column;
}

.accomodation-popular-card {
    display: flex;
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #d9d9d9;
}

.accomodation-popular-card img {
    height: 100%;
    width: 130px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.accomodation-popular-card-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 20px;
    width: 200px;
}

.accomodation-popular-card-text h3 {
    margin: 10px 0px;
}

.accomodation-popular-card-text .star {
    position: absolute;
    bottom: 5px;
}


/*------------------------- Activites section -------------------------*/ 
#activities {
    width: 95%;
    margin: 60px auto;
}

#activities h2 {
    font-size: 22px;
    font-weight: 600;
    margin: 30px 0px 20px;
}

#activities article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #e8e8e8;
}

#activities article h3 {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
}

#activities article img {
    height: 100px;     /* If i don't set them initial size they sometimes overflow..*/
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    flex: 4;
}

#activities-bloc {
    display: flex;
    justify-content: space-between;
}

#activities-bloc .long {
    width : 22%;
    height: 450px;
}

#activities-bloc > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    height: 450px;
}

#activities-bloc .short {
    width: 100%;
}

#activities-bloc > div:nth-child(2) .short:nth-child(1){   /* Why 2 ???*/
    height: 53%;
}

#activities-bloc > div:nth-child(2) .short:nth-child(2){
    height: 37%;
}

#activities-bloc > div:nth-child(4) .short:nth-child(1){    /* Why 4 ???*/
    height: 44%;
}

#activities-bloc > div:nth-child(4) .short:nth-child(2){
    height: 46%;;
}









/*<-><-><-><-><-><-><-><-><-><-><->< TABLET breakpoint 992px <-><-><-><-><-><-><-><-><-><-><-><->*/

@media screen and (max-width:992px) {
    nav ul li a:hover {
        border-top: none; 
        border-left: 2px solid #0065FC;      /* WATCH if you can find something better*/
    }

    #search-filter-bloc {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-element {
        margin-bottom: 15px;
    }



    /*------- Accomadation section ---------*/

    #accomodation {
        flex-direction: column;
    }

    #accomodation-popular {
        order: 1;
        width: 100%;
        margin-bottom: 20px;
    }

    #accomodation-popular-cards {
        flex-flow: row wrap;
        justify-content: space-around;
        
    }

    #accomodation-result {
        order : 2;
        width :100%
    }

    .accomodation-popular-card {
        width: 45%;
    }

    .accomodation-card {
        width: 45%;
    }

      /*------- Activities section ---------*/

    #activities-bloc {
        flex-direction: column;
        justify-content: space-between;
        height: 1050px;
    }

    #activities-bloc > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 250px;
    }

    #activities .long {
        width: 100%;
        height: 250px;
    }



    #activities-bloc > div:nth-child(2) .short:nth-child(1),
    #activities-bloc > div:nth-child(2) .short:nth-child(2),
    #activities-bloc > div:nth-child(4) .short:nth-child(1),
    #activities-bloc > div:nth-child(4) .short:nth-child(2){   /* Why 2 ???*/
        height: 100%;
        width: 48%;
    }

}


/*<-><-><-><-><-><-><-><-><-><-><->< MOBILE PHONE breakpoint 768px <-><-><-><-><-><-><-><-><-><-><-><->*/


@media screen and (max-width:768px) {

    /*------------- HEADER ---------------*/ 
    header {
        flex-direction: column;
        align-items: center;
        height: 150px;
    }

    nav {
        justify-content: center;
    }

    nav ul {
        margin-right: 0px;
        width: 100%;
    }

    nav ul li a {
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav ul li a:hover { 
    border-left:0 ;
    border-bottom: 3px solid #0065FC;
    }


    /*--------------- MAIN ----------------*/ 

    /*-------- Search section ----------*/ 
    #search input {
        width: 80%;
    }
    #search {
        margin:40px 20px;
    }

    #search > p {
        margin-bottom: 30px;
    }

    .search-btn-icon {
        display: inline-block;
    }

    .search-btn-text {
        display: none;
    }

    /*------ Accomadation section ------*/

    #accomodation {
        width: 100%;
    }

    #accomodation section {
        border-radius: 0px;
    }
    #accomodation-popular {
        margin-bottom: 0px;
        min-width: 0px;
    }

    #accomodation-popular-cards {
        flex-flow : column nowrap;
    }

    .accomodation-popular-card {
        width: 100%;
    }


    #accomodation #accomodation-result {
        background-color: white;
    }

    #accomodation-cards {
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
    }

    .accomodation-card {
        width : 100%;
        max-width: 400px;
    }


    /*------ Activities section ------*/

    #activities {
        width: 100%;
        padding: 0px 16px;
    }

    #activities-bloc article {
        margin-bottom: 30px;
    }

    #activities-bloc > div {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    #activities-bloc > div:nth-child(2) .short:nth-child(1),
    #activities-bloc > div:nth-child(2) .short:nth-child(2),
    #activities-bloc > div:nth-child(4) .short:nth-child(1),
    #activities-bloc > div:nth-child(4) .short:nth-child(2){   /* Why 2 ???*/
        height: 250px;
        width: 100%;
    }
}

