/*=============================================================================*/
/*-----------------------------------------------------------------------------*/
/*---------------------------------- DESKTOP ----------------------------------*/
/*-----------------------------------------------------------------------------*/
/*=============================================================================*/
*,::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    min-width: 320px;
}

a {
    text-decoration: none;
    color: black;
}

main > section {
    width: 93%;
    margin: auto;
}

h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

h2 {
    font-size: 22px;
    font-weight: 600;
}



/*============================================================================*/
/*---------------------------------- HEADER ----------------------------------*/ 
/*============================================================================*/

header {
    width: 93%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo {
    width: 60px;
    height: auto;
    margin: 20px 15px 20px;
}
nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
nav ul {
    display: flex;
    height: 100%;
    list-style-type: none;
    margin-right:60px;
}

nav ul li {
    width: 100%;
    height: 100%;
    text-align: center;
}

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 36px 20px;
    font-weight: 300;
    border-top:2px solid transparent ;
}

nav ul li a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}



/*============================================================================*/
/*----------------------------------- MAIN -----------------------------------*/
/*============================================================================*/ 


/*-------------------- Search section --------------------*/ 

#search > p {
    margin-top: 0;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}

form {
    position: relative;
}

#search-locate {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius:  15px 0px 0px 15px ;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

#search input {
    width: 300px;
    height: 50px;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    outline: none;
    padding-left: 70px;
    font-size: 18px;
    font-weight: 600;
}

.search-btn {
    position: relative;
    left: -15px;
    height: 50px;
    padding: 10px 15px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.search-btn-icon {
    display: none;
    border-radius: 15px ;
}

#search-filter-bloc > p {
    padding: 10px 30px 10px 0px;
    font-size: 18px;
    font-weight: 600;
}

#search-filter-bloc {
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: center;
    margin-top: 30px;
}

#filter-elements {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex: 2;      /* ******** here ******** */
}

.filter-element {
    position: relative;
    display: flex;
    height: 50px;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    margin-right: 1.8%;       /* ******** here ******** */
}

.filter-element:nth-child(4){
    margin-right: 0px;           /*  To avoid wrap at width of 1005px */
}

.filter-element i {
    position: relative;
    left: -2px;
    width :50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;  /* tips to align 1 only line of text*/
    text-align: center;
    border-radius: 50%;
    color: #0065FC;
    background-color: #deebff;
}

.filter-element p {
    font-size: 18px;
    font-weight: 600;
    padding: 0px 25px 0px 10px; 
}

/* don't know how to have a time for the transition */

.filter-element:hover > i {   /* when the website will be animated with js better to add a class to .filter-element to keep that form even selected */
    order: 2;
    left : 2px;
    background-color: white;
    color: black;
    border: 2px solid #deebff;
}

.filter-element:hover > p {
    order: 1;
    padding: 0px 10px 0px 25px;
    color: #0065FC;
}

.filter-element:hover {
    background-color: #deebff;
    border: 2px solid #deebff;
    cursor: pointer;
}

#search-information {
    display: flex;
    align-items: center;
    margin: 30px 0;
}
/* ******** here pb with responsive of i and circle *********/
#search-information i { 
    width: 25px;
    height: 25px;
    line-height: 22px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    color: #0065FC;
    margin-right:10px ;
}

#search-information p {
    font-weight: 300;
}



/*-------------------- Accomodation section --------------------*/

#accomodation {
    
    margin: auto;
    display: flex;
}

#accomodation section {
    background-color: #f2f2f2;
    border-radius: 20px;
}

#accomodation-result {
    width : 65.5%;
    margin-right: 3%;
    padding: 40px 16px;
}

#accomodation-result h2 {
    margin: 0px 0px 20px 20px;
}

#accomodation-result > a {
    display: inline-block;
    margin: 25px 0px 0px 25px;
    font-size: 16px;
    font-weight: 600;
}

#accomodation-result > a:hover {
    text-decoration: underline;
}


#accomodation-cards {                       
    /*height: 420px;*/
    display: flex;
    justify-content: space-around;
    /*align-content: space-between;*/
    flex-wrap: wrap;
}

.accomodation-card {        /* Idea : change the box-shadow on hover */
    width : 247px;
    height: auto;
    margin: 15px 5px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #d9d9d9; 
}

.accomodation-card a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 5px;
}

.accomodation-card img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0;

}

.accomodation-card-text > * {
    margin: 5px 10px;
}

#accomodation h3 {
    font-size: 16px;
    font-weight: 600;
}

/* -----Common for all the card of accomodation ------- */

#accomodation p {
    font-size: 14px;
    font-weight: 300;
}

#accomodation span {
    font-weight: 600;
}

.star {
    font-size: 12px;
}

.star .blue {
    color: #0065FC;
}

.star .grey {
    color: #d9d9d9;
}

/* ------------ */

#accomodation-popular {
    width : 31.5%;
    min-width: 340px;
    padding: 30px 40px 0px;
}

#accomodation-popular div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#accomodation-popular h2{
    margin: 10px 30px 30px 0px;
}

#accomodation-popular div:first-child i {
    font-size: 22px;
}

#accomodation-popular-cards {
    display: flex;
    flex-direction: column;
    height: 85%;
}

.accomodation-popular-card {
    width: 100%;
    height: 29%;
    margin-bottom: 25px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #d9d9d9;
}

.accomodation-popular-card > a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
}

.accomodation-popular-card:hover, .accomodation-card:hover {
    box-shadow: 4px 4px 20px #c9c9c9;
}

.accomodation-popular-card img {
    height: 100%;
    width: 130px;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.accomodation-popular-card-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 20px;
    width: 200px;
}

.accomodation-popular-card-text h3 {
    margin: 10px 0px;
}

.accomodation-popular-card-text .star {
    position: absolute;
    bottom: 5px;
}



/*-------------------- Activities section --------------------*/ 

#activities {
    margin: 60px auto;
}

#activities h2 {
    margin: 30px 0px 20px;
}

#activities article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #e8e8e8;
}

#activities article > a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}



#activities article:hover {
    box-shadow: 4px 4px 20px #d8d8d8;
}


#activities article h3 {
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
}

#activities article img {
    height: 100px;     /* If i don't set them initial size they sometimes overflow..*/
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    flex: 1;
}

#activities-bloc {
    display: flex;
    justify-content: space-between;
}

#activities-bloc .long {
    width : 22%;
    height: 450px;
}

#activities-bloc > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    height: 450px;
}

#activities-bloc .short {
    width: 100%;
}

#activities-bloc > div:nth-child(2) .short:nth-child(1){   /* Why 2 ???*/
    height: 53%;
}

#activities-bloc > div:nth-child(2) .short:nth-child(2){
    height: 37%;
}

#activities-bloc > div:nth-child(4) .short:nth-child(1){    /* Why 4 ???*/
    height: 44%;
}

#activities-bloc > div:nth-child(4) .short:nth-child(2){
    height: 46%;;
}


/*============================================================================*/
/*---------------------------------- FOOTER ----------------------------------*/ 
/*============================================================================*/

footer {
    width: 100%;
    padding: 20px 2.5% 40px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}

footer div {
    width: 33%;
}

footer div h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 25px 0 15px;
}

footer div ul {
    list-style-type: none;
}

footer div ul li {
    font-size: 16px;
    padding: 5px 0px;
    font-weight: 300;
}

footer a:hover {
    text-decoration: underline;
}


/*=============================================================================*/
/*-----------------------------------------------------------------------------*/
/*--------------------------- TABLET breakpoint 992 ---------------------------*/
/*-----------------------------------------------------------------------------*/
/*=============================================================================*/

@media screen and (max-width:992px) {

    /*========================================================*/
    /*------------------------- MAIN -------------------------*/ 
    /*========================================================*/


    /*------------- Search section -------------*/

    #search-filter-bloc {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-element {
        margin-bottom: 15px;
    }



    /*------------- Accomodation section -------------*/

    #accomodation {
        flex-direction: column;
    }

    #accomodation-popular {
        order: 1;
        width: 100%;
        margin-bottom: 20px;
        padding: 30px 16px 0px;
    }

    #accomodation-popular div:first-child {
        margin: 0 20px;
    }

    #accomodation-popular-cards {
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto;
        
    }

    #accomodation-result {
        order : 2;
        width :100%
    }

    .accomodation-popular-card {
        width: 45%;
        height: 160px;

    }

    .accomodation-card {
        width: 47%;
    }



    /*------------- Activities section -------------*/

    #activities-bloc {
        flex-direction: column;
        justify-content: space-between;
        height: 1050px;
    }

    #activities-bloc > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 250px;
    }

    #activities .long {
        width: 100%;
        height: 250px;
    }

    #activities-bloc > div:nth-child(2) .short:nth-child(1),
    #activities-bloc > div:nth-child(2) .short:nth-child(2),
    #activities-bloc > div:nth-child(4) .short:nth-child(1),
    #activities-bloc > div:nth-child(4) .short:nth-child(2){   
        height: 100%;
        width: 48%;
    }
}


/*=============================================================================*/
/*-----------------------------------------------------------------------------*/
/*--------------------------- MOBILE breakpoint 992 ---------------------------*/
/*-----------------------------------------------------------------------------*/
/*=============================================================================*/


@media screen and (max-width:768px) {

    /*========================================================*/
    /*------------------------ HEADER ------------------------*/ 
    /*========================================================*/ 
    header {
        width: 100%;
        flex-direction: column;
        align-items: center;
        height: 150px;
    }

    nav {
        justify-content: center;
    }

    nav ul {
        margin-right: 0px;
        width: 100%;
    }

    nav ul li a {
        border-top: 0;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav ul li a:hover { 
        border-top: 0 ;
        border-bottom: 3px solid #0065FC;
    }


    /*========================================================*/
    /*------------------------- MAIN -------------------------*/ 
    /*========================================================*/

    /*-------- Search section ----------*/ 
    #search input {
        width: 80%;
    }
    #search {
        margin:40px 20px;
    }

    #search > p {
        margin-bottom: 30px;
    }

    .search-btn-icon {
        display: inline-block;
    }

    .search-btn-text {
        display: none;
    }



    /*------------- Accomodation section -------------*/

    #accomodation {
        width: 100%;
    }

    #accomodation section {
        border-radius: 0px;
    }
    #accomodation-popular {
        margin-bottom: 0px;
        min-width: 0px;
    }

    #accomodation-popular div:first-child {
        margin: 0;
    }

    #accomodation-popular-cards {
        flex-flow : column nowrap;
    }

    .accomodation-popular-card {
        width: 100%;
        margin-bottom: 10px;
    }


    #accomodation #accomodation-result {
        background-color: white;
    }

    #accomodation-result h2 {
        margin: 0px 0px 20px 0px;
    }

    #accomodation-result > a {
        margin: 25px 0px 0px 0px ;
        font-size: 18px;
    }

    #accomodation-cards {
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
    }

    .accomodation-card {
        width : 100%;
        margin: 7px;
        /*max-width: 400px;    watch with Thomas if it's better to remove it..*/  
    }



    /*------------- Activities section -------------*/

    #activities {
        width: 100%;
        margin: 20px 0;
        padding: 0px 16px;
    }

    #activities-bloc article {
        margin-bottom: 30px;
    }
    #activities-bloc {
        height: auto;
    }

    #activities-bloc > div {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    #activities-bloc > div:nth-child(2) .short:nth-child(1),
    #activities-bloc > div:nth-child(2) .short:nth-child(2),
    #activities-bloc > div:nth-child(4) .short:nth-child(1),
    #activities-bloc > div:nth-child(4) .short:nth-child(2),
    #activities .long {   
        height: 200px;
        width: 100%;
    }

    /*========================================================*/
    /*------------------------ FOOTER ------------------------*/ 
    /*========================================================*/

    footer {
        flex-direction: column;
        padding: 20px 30px 40px;
    }

    footer div {
        width: 100%;
    }
}

